extends ../layout

block content
  h1.visually-hidden &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;
  section
    .popup.popup--registration.popup--anti
      a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
        | &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy;
        | &ocy;&kcy;&ncy;&ocy;
      h2.popup__title &Vcy;&ocy;&jcy;&tcy;&icy;
      .popup__form.form.form--log-in
        form(action='' method='post')
          input(type="hidden" name="_csrf" value=csrfToken)
          .form__field
            label
              input(type='email' name='email' placeholder='Электронная почта' required='' value=data? data.email : '')
          .form__field
            label
              input(type='password' name='password' placeholder='Пароль' required='')
          if errorMessages
            .form__validation-error
              p.form__error-message &Pcy;&rcy;&icy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&icy; &pcy;&rcy;&ocy;&icy;&zcy;&ocy;&shcy;&lcy;&icy; &ocy;&shcy;&icy;&bcy;&kcy;&icy;:

              ul.form__errors
                each msg in errorMessages
                  li.form__error #{msg}
          button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') &Vcy;&ocy;&jcy;&tcy;&icy;
