extends ../layout
include ../mixins/input-errors

block content
  h1.visually-hidden &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;
  section
    .popup.popup--registration.popup--anti
      a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
        | &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy;
        | &ocy;&kcy;&ncy;&ocy;
      h2.popup__title &Vcy;&ocy;&jcy;&tcy;&icy;
      .popup__form.form.form--log-in
        form(action='?redirect='+redirect method='post')
          input(type="hidden" name="_csrf" value=csrfToken)
          .form__field
            label
              input(name='email' placeholder='Электронная почта' value=data? data.email : '')
              +inputErrors(errorMessages, 'email')
          .form__field
            label
              input(type='password' name='password' placeholder='Пароль')
              +inputErrors(errorMessages, 'password')
          button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') &Vcy;&ocy;&jcy;&tcy;&icy;
