extends ../layout

block content
  h1.visually-hidden &Ocy;&shcy;&icy;&bcy;&kcy;&acy; 404
  section.error
    h2.error__title.title.title--big &Pcy;&ocy;&khcy;&ocy;&zhcy;&iecy; &ocy;&shcy;&icy;&bcy;&lcy;&icy;&scy;&softcy; &acy;&dcy;&rcy;&iecy;&scy;&ocy;&mcy;
    a.error__link.text.text--big(href='main.html') &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &gcy;&lcy;&acy;&vcy;&ncy;&ucy;&yucy;
