extends ../layout

block content
  h1.visually-hidden &Ocy;&shcy;&icy;&bcy;&kcy;&acy; 500
  section.error.error--500
    h2.error__title.title.title--big &CHcy;&tcy;&ocy;-&tcy;&ocy; &pcy;&ocy;&shcy;&lcy;&ocy; &ncy;&iecy; &tcy;&acy;&kcy;
    p.error__text.text.text--big
      | &Pcy;&rcy;&icy;&chcy;&icy;&ncy; &mcy;&ocy;&zhcy;&iecy;&tcy; &bcy;&ycy;&tcy;&softcy; &mcy;&ncy;&ocy;&gcy;&ocy;: &scy;&iecy;&rcy;&vcy;&iecy;&rcy; &ncy;&iecy; &vcy;&ycy;&dcy;&iecy;&rcy;&zhcy;&acy;&lcy; &ncy;&acy;&gcy;&rcy;&ucy;&zcy;&kcy;&ucy; &icy;&lcy;&icy; &vcy; &kcy;&ocy;&dcy;&iecy; &ocy;&shcy;&icy;&bcy;&kcy;&acy;.
      | &Pcy;&ocy;&pcy;&rcy;&ocy;&bcy;&ucy;&jcy;&tcy;&iecy; &pcy;&ocy;&vcy;&tcy;&ocy;&rcy;&icy;&tcy;&softcy; &pcy;&ocy;&pcy;&ycy;&tcy;&kcy;&ucy; &pcy;&ocy;&zcy;&zhcy;&iecy;.
    a.error__link.text.text--big(href='main.html') &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &gcy;&lcy;&acy;&vcy;&ncy;&ucy;&yucy;

