extends ../layout

block content
  section.main-page__publication.publication
    h1.publication__title &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
    ul.publication__list
      li.publication__list-item
        .publication__header
          img.publication__list-image(src='../src/express/public/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
          b.publication__list-name &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;
          time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.publication__item-text(href='#')
          | &Gcy;&lcy;&acy;&vcy;&rcy;&iecy;&dcy;&ycy; &laquo;&Dcy;&ocy;&zhcy;&dcy;&yacy;&raquo;, Forbes &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &Scy;&Mcy;&Icy; &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&lcy;&icy; &Rcy;&ocy;&scy;&kcy;&ocy;&mcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy; &rcy;&acy;&zcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy;&softcy; &shcy;&tcy;&rcy;&acy;&fcy;&ycy; &zcy;&acy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&ycy;.
        p.publication__text-strong
          | &laquo;&YAcy;&ncy;&dcy;&iecy;&kcy;&scy;.&Mcy;&iecy;&tcy;&rcy;&icy;&kcy;&acy;&raquo; &zcy;&acy;&pcy;&ucy;&scy;&tcy;&icy;&lcy;&acy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &scy;&iecy;&rcy;&vcy;&icy;&scy; &dcy;&lcy;&yacy; &ocy;&tscy;&iecy;&ncy;&kcy;&icy; &ecy;&fcy;&fcy;&iecy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&scy;&tcy;&icy; &bcy;&acy;&ncy;&ncy;&iecy;&rcy;&ocy;&vcy; &icy; &vcy;&icy;&dcy;&iecy;&ocy;&rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ycy; &vcy; &rcy;&iecy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy;
        button.publication__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.publication__list-item
        .publication__header
          img.publication__list-image(src='../src/express/public/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
          b.publication__list-name &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;
          time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.publication__item-text(href='#')
          | &Gcy;&lcy;&acy;&vcy;&rcy;&iecy;&dcy;&ycy; &laquo;&Dcy;&ocy;&zhcy;&dcy;&yacy;&raquo;, Forbes &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &Scy;&Mcy;&Icy; &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&lcy;&icy; &Rcy;&ocy;&scy;&kcy;&ocy;&mcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy; &rcy;&acy;&zcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy;&softcy; &shcy;&tcy;&rcy;&acy;&fcy;&ycy; &zcy;&acy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&ycy;.
        p.publication__text-strong
          | &Icy;&gcy;&rcy;&ocy;&vcy;&acy;&yacy; &scy;&tcy;&ucy;&dcy;&icy;&yacy; Playrix &icy;&zcy; &Vcy;&ocy;&lcy;&ocy;&gcy;&dcy;&ycy; &pcy;&ocy;&tcy;&rcy;&acy;&tcy;&icy;&lcy;&acy; &bcy;&ocy;&lcy;&iecy;&iecy; $100 &mcy;&lcy;&ncy; &ncy;&acy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&ucy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&iecy;&ncy;&tcy;&ocy;&vcy; &vcy; 2018 &gcy;&ocy;&dcy;&ucy;
        button.publication__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.publication__list-item
        .publication__header
          img.publication__list-image(src='../src/express/public/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
          b.publication__list-name &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;
          time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.publication__item-text(href='#')
          | &Gcy;&lcy;&acy;&vcy;&rcy;&iecy;&dcy;&ycy; &laquo;&Dcy;&ocy;&zhcy;&dcy;&yacy;&raquo;, Forbes &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &Scy;&Mcy;&Icy; &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&lcy;&icy; &Rcy;&ocy;&scy;&kcy;&ocy;&mcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy; &rcy;&acy;&zcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy;&softcy; &shcy;&tcy;&rcy;&acy;&fcy;&ycy; &zcy;&acy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&ycy;.
        p.publication__text-strong
          | &laquo;&YAcy;&ncy;&dcy;&iecy;&kcy;&scy;.&Mcy;&iecy;&tcy;&rcy;&icy;&kcy;&acy;&raquo; &zcy;&acy;&pcy;&ucy;&scy;&tcy;&icy;&lcy;&acy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &scy;&iecy;&rcy;&vcy;&icy;&scy; &dcy;&lcy;&yacy; &ocy;&tscy;&iecy;&ncy;&kcy;&icy; &ecy;&fcy;&fcy;&iecy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&scy;&tcy;&icy; &bcy;&acy;&ncy;&ncy;&iecy;&rcy;&ocy;&vcy; &icy; &vcy;&icy;&dcy;&iecy;&ocy;&rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ycy; &vcy; &rcy;&iecy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy;
        button.publication__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.publication__list-item
        .publication__header
          img.publication__list-image(src='../src/express/public/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
          b.publication__list-name &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;
          time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.publication__item-text(href='#')
          | &Gcy;&lcy;&acy;&vcy;&rcy;&iecy;&dcy;&ycy; &laquo;&Dcy;&ocy;&zhcy;&dcy;&yacy;&raquo;, Forbes &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &Scy;&Mcy;&Icy; &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&lcy;&icy; &Rcy;&ocy;&scy;&kcy;&ocy;&mcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy; &rcy;&acy;&zcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy;&softcy; &shcy;&tcy;&rcy;&acy;&fcy;&ycy; &zcy;&acy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&ycy;.
        p.publication__text-strong
          | &Icy;&gcy;&rcy;&ocy;&vcy;&acy;&yacy; &scy;&tcy;&ucy;&dcy;&icy;&yacy; Playrix &icy;&zcy; &Vcy;&ocy;&lcy;&ocy;&gcy;&dcy;&ycy; &pcy;&ocy;&tcy;&rcy;&acy;&tcy;&icy;&lcy;&acy; &bcy;&ocy;&lcy;&iecy;&iecy; $100 &mcy;&lcy;&ncy; &ncy;&acy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&ucy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&iecy;&ncy;&tcy;&ocy;&vcy; &vcy; 2018 &gcy;&ocy;&dcy;&ucy;
        button.publication__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.publication__list-item
        .publication__header
          img.publication__list-image(src='../src/express/public/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
          b.publication__list-name &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;
          time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.publication__item-text(href='#')
          | &Gcy;&lcy;&acy;&vcy;&rcy;&iecy;&dcy;&ycy; &laquo;&Dcy;&ocy;&zhcy;&dcy;&yacy;&raquo;, Forbes &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &Scy;&Mcy;&Icy; &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&lcy;&icy; &Rcy;&ocy;&scy;&kcy;&ocy;&mcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy; &rcy;&acy;&zcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy;&softcy; &shcy;&tcy;&rcy;&acy;&fcy;&ycy; &zcy;&acy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&ycy;.
        p.publication__text-strong
          | &Icy;&gcy;&rcy;&ocy;&vcy;&acy;&yacy; &scy;&tcy;&ucy;&dcy;&icy;&yacy; Playrix &icy;&zcy; &Vcy;&ocy;&lcy;&ocy;&gcy;&dcy;&ycy; &pcy;&ocy;&tcy;&rcy;&acy;&tcy;&icy;&lcy;&acy; &bcy;&ocy;&lcy;&iecy;&iecy; $100 &mcy;&lcy;&ncy; &ncy;&acy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&ucy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&iecy;&ncy;&tcy;&ocy;&vcy; &vcy; 2018 &gcy;&ocy;&dcy;&ucy;
        button.publication__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.publication__list-item
        .publication__header
          img.publication__list-image(src='../src/express/public/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
          b.publication__list-name &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;
          time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.publication__item-text(href='#')
          | &Gcy;&lcy;&acy;&vcy;&rcy;&iecy;&dcy;&ycy; &laquo;&Dcy;&ocy;&zhcy;&dcy;&yacy;&raquo;, Forbes &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &Scy;&Mcy;&Icy; &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&lcy;&icy; &Rcy;&ocy;&scy;&kcy;&ocy;&mcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy; &rcy;&acy;&zcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy;&softcy; &shcy;&tcy;&rcy;&acy;&fcy;&ycy; &zcy;&acy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&ycy;.
        p.publication__text-strong
          | &laquo;&YAcy;&ncy;&dcy;&iecy;&kcy;&scy;.&Mcy;&iecy;&tcy;&rcy;&icy;&kcy;&acy;&raquo; &zcy;&acy;&pcy;&ucy;&scy;&tcy;&icy;&lcy;&acy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &scy;&iecy;&rcy;&vcy;&icy;&scy; &dcy;&lcy;&yacy; &ocy;&tscy;&iecy;&ncy;&kcy;&icy; &ecy;&fcy;&fcy;&iecy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&scy;&tcy;&icy; &bcy;&acy;&ncy;&ncy;&iecy;&rcy;&ocy;&vcy; &icy; &vcy;&icy;&dcy;&iecy;&ocy;&rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ycy; &vcy; &rcy;&iecy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy;
        button.publication__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.publication__list-item.publication__list-item--last
        .publication__header
          img.publication__list-image(src='../src/express/public/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
          b.publication__list-name &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;
          time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.publication__item-text(href='#')
          | &Gcy;&lcy;&acy;&vcy;&rcy;&iecy;&dcy;&ycy; &laquo;&Dcy;&ocy;&zhcy;&dcy;&yacy;&raquo;, Forbes &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &Scy;&Mcy;&Icy; &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&lcy;&icy; &Rcy;&ocy;&scy;&kcy;&ocy;&mcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy; &rcy;&acy;&zcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy;&softcy; &shcy;&tcy;&rcy;&acy;&fcy;&ycy; &zcy;&acy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&ycy;.
        p.publication__text-strong
          | &Icy;&gcy;&rcy;&ocy;&vcy;&acy;&yacy; &scy;&tcy;&ucy;&dcy;&icy;&yacy; Playrix &icy;&zcy; &Vcy;&ocy;&lcy;&ocy;&gcy;&dcy;&ycy; &pcy;&ocy;&tcy;&rcy;&acy;&tcy;&icy;&lcy;&acy; &bcy;&ocy;&lcy;&iecy;&iecy; $100 &mcy;&lcy;&ncy; &ncy;&acy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&ucy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&iecy;&ncy;&tcy;&ocy;&vcy; &vcy; 2018 &gcy;&ocy;&dcy;&ucy;
        button.publication__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;

