extends ../layout

block content
  section.search-page
    .search-page__wrapper
      h1 &Pcy;&ocy;&icy;&scy;&kcy;
      .search.search-page__form
        form(action='#' method='get')
          label
            input(type='text' name='query' placeholder='Что ищем?')
          button.search__button.button.button--transparent(type='submit') &Ncy;&acy;&jcy;&tcy;&icy;

