extends ../layout

block content
  section.main-page__category.category
    h1.category__title &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
    .category__add-form
      form(action='#' method='POST')
        input#add-form-add-category(type='text' name='add-category' placeholder='Новая категория')
        label(for='add-form-add-category')
          span.visually-hidden &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
        button.category__button.button.button--category(type='submit') &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy;
    ul.category__list
      li.category__list-item
        form(action='#' method='POST')
          input#modify-form-category-1(type='text' name='category-1' value='Жизнь и путешествия')
          label(for='modify-form-category-1')
            span.visually-hidden &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
          button.category__button.button.button--category(type='submit') &Scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy;
          button.category__button.button.button--category(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
      li.category__list-item
        form(action='#' method='POST')
          input#modify-form-category-2(type='text' name='category-2' value='Путешествия')
          label(for='modify-form-category-2')
            span.visually-hidden &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
          button.category__button.button.button--category(type='submit') &Scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy;
          button.category__button.button.button--category(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
      li.category__list-item
        form(action='#' method='POST')
          input#modify-form-category-3(type='text' name='category-3' value='Дизайн и программирование')
          label(for='modify-form-category-3')
            span.visually-hidden &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
          button.category__button.button.button--category(type='submit') &Scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy;
          button.category__button.button.button--category(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
      li.category__list-item
        form(action='#' method='POST')
          input#modify-form-category-4(type='text' name='category-4' value='Другое')
          label(for='modify-form-category-4')
            span.visually-hidden &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
          button.category__button.button.button--category(type='submit') &Scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy;
          button.category__button.button.button--category(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
      li.category__list-item.category__list-item--last
        form(action='#' method='POST')
          input#modify-form-category-5(type='text' name='category-5' value='Личное')
          label(for='modify-form-category-5')
            span.visually-hidden &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
          button.category__button.button.button--category(type='submit') &Scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy;
          button.category__button.button.button--category(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;

