doctype html
//- footer
include ./common/head
body
  div.wrapper
    //- header
    include ./common/header
    main.main-page
      block content
    //- footer
    include ./common/footer
  script(src="/js/socket.io.js")
  script(src="/js/socket.js")
