extends ../layout
include ../mixins/input-errors

block content
  section.main-page__category.category
    h1.category__title Категории
    div.category__add-form
      +inputErrors(errorMessages, "name")
    .category__add-form
      form(action='' method='POST')
        input(type="hidden" name="_csrf" value=csrfToken)
        input#add-form-add-category(type='text' name='name' placeholder='Новая категория')
        label(for='add-form-add-category')
          span.visually-hidden Добавить категорию
        button.category__button.button.button--category(type='submit') Добавить
    ul.category__list
      if categories.length > 0
        each category in categories
          li.category__list-item
            form(action='/my/categories/'+category.id method='POST')
              input(type="hidden" name="_csrf" value=csrfToken)
              input#modify-form-category-1(type='text' name='name' value=category.name)
              label(for='modify-form-category-1')
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit') Сохранить
              a.category__button.button.button--category(href='/my/categories/'+category.id+'/delete') Удалить
      else
        p.category__list-item список категорий пуст...
