extends ../layout

block content
  section.main-page__notes.notes
    h1.notes__title &Mcy;&ocy;&icy; &zcy;&acy;&pcy;&icy;&scy;&icy;
    ul.notes__list
      each article in articles
        li.notes__list-item
          time.notes__item-time(datetime='#{article.createDate}') #{article.createDate}
          a.notes__item-text(href='/articles/edit/'+article.id) #{article.title}
          button.notes__button.button.button--close-item(type='button')
            span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
