extends ../layout

block content
  section.main-page__notes.notes
    h1.notes__title &Mcy;&ocy;&icy; &zcy;&acy;&pcy;&icy;&scy;&icy;
    ul.notes__list
      li.notes__list-item
        time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.notes__item-text(href='#') Huawei &ocy;&tcy;&kcy;&rcy;&ycy;&lcy;&acy; &vcy; &Rcy;&ocy;&scy;&scy;&icy;&icy; &pcy;&rcy;&iecy;&dcy;&zcy;&acy;&kcy;&acy;&zcy; &ncy;&acy; &scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy; Mate 30 Pro &bcy;&iecy;&zcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ocy;&vcy; Google
        button.notes__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.notes__list-item
        time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.notes__item-text(href='#') Facebook &rcy;&acy;&zcy;&rcy;&iecy;&shcy;&icy;&tcy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;&mcy; &kcy;&ocy;&pcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&icy; &icy;&zcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&icy; &vcy; &laquo;Google &Fcy;&ocy;&tcy;&ocy;&raquo;
        button.notes__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.notes__list-item
        time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.notes__item-text(href='#') Huawei &ocy;&tcy;&kcy;&rcy;&ycy;&lcy;&acy; &vcy; &Rcy;&ocy;&scy;&scy;&icy;&icy; &pcy;&rcy;&iecy;&dcy;&zcy;&acy;&kcy;&acy;&zcy; &ncy;&acy; &scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy; Mate 30 Pro &bcy;&iecy;&zcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ocy;&vcy; Google
        button.notes__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.notes__list-item
        time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.notes__item-text(href='#') Facebook &rcy;&acy;&zcy;&rcy;&iecy;&shcy;&icy;&tcy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;&mcy; &kcy;&ocy;&pcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&icy; &icy;&zcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&icy; &vcy; &laquo;Google &Fcy;&ocy;&tcy;&ocy;&raquo;
        button.notes__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
      li.notes__list-item.notes__list-item--last
        time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        a.notes__item-text(href='#') Facebook &rcy;&acy;&zcy;&rcy;&iecy;&shcy;&icy;&tcy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;&mcy; &kcy;&ocy;&pcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&icy; &icy;&zcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&icy; &vcy; &laquo;Google &Fcy;&ocy;&tcy;&ocy;&raquo;
        button.notes__button.button.button--close-item(type='button')
          span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
  
